/*
Lavendar - #DBD2E3
Steel Purple - #A9BBD3 
good purple - #A4A3CD
*/

@import url(http://fonts.googleapis.com/css?family=Handlee);

header {color:silver;}
a {color: #DBD2E3;}
h1 {font-family: 'Handlee', cursive; color: #DBD2E3;}
h2{color: #A4A3CD;}
h3{color:#A4A3CD;}
body{font-family:'Handlee', cursive, "Times New Roman", serif;

background-color: #414140; color: white;}

.color1{width:200px;
height: 200px; background-color:#DBD2E3; }
.color2{width:200px;
height: 200px; background-color:#A9BBD3; }
.color3{width:200px;
height: 200px; background-color:#A4A3CD; }

.site-footer a{
font-size: 1em;
color: violet;
    text-decoration: none;
}

.site-footer a:hover{
color: pink; text-decoration: underline;
}