/*
Lavendar - #DBD2E3
Steel Purple - #A9BBD3 
good purple - #A4A3CD
*/

header {color:silver;}
a {color: #DBD2E3;}
h1 {color: #DBD2E3;}
h2{color: #A4A3CD;}
h3{color:#A4A3CD;}
body {background-color: #414140; color: white;}

.color1{width:200px;
height: 200px; background-color:#DBD2E3; }
.color2{width:200px;
height: 200px; background-color:#A9BBD3; }
.color3{width:200px;
height: 200px; background-color:#A4A3CD; }